.color-column {
  height: 90vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.lock-icon {
  width: 5vw;
  height: 5vh;
    &:hover {
      cursor: pointer;
    }
}