.color-column {
  width: 20vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  // border-radius: 25px 25px;
}

.lock-icon {
  width: 5vw;
  height: 5vh;
    &:hover {
      cursor: pointer;
    }
}

.hidden {
  visibility: hidden;
}